[Service]
ExecStart=/usr/bin/nodejs /srv/owl/api/bin/www
WorkingDirectory=/srv/owl/api
Restart=always
StandardOutput=journal
StandardError=journal
SyslogIdentifier=owl-api
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
